{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<!-- Body part of Cart -->
<div id="cart" class="container-fluid bg-light text-dark">
    <div class="row">
        <div class="poss">
            <ol class="pos">
                <li><a href="index.html">Home</a></li>
                <li class="active">/ Cart</li>
            </ol>
        </div>
        <div id="order_summary" class="p-5">
            <h2>Order Summary</h2>
            <div class="container-fluid d-flex" style="padding: 0%; margin: 0%;">
                <div class="col-lg-8 m-2">
                    <div class="cart_prod border shadow" >
                        <div class="d-flex">
                            <div id="prod_img">
                                <img src="./img/crocin.jpg" alt="crocine">

                            </div>
                            <div id="prod_discription pt-3">
                                <a href="product_details">
                                    <h5>Crocine</h5>
                                    <span>this prioasjkndsadknaskdn</span>
                                </a>
                                <h4 style="background: #8ad129;">₹140</h4>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="cart_quantity_button">
                                <button class="btn btn-outline-success" style="border-radius: 50%;"> + </button>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1"
                                    autocomplete="off" size="2">
                                <button class="btn btn-outline-success" style="border-radius: 50%;"> - </button>
                            </div>
                            <div class="mx-5">
                                <a href=""><button class="btn btn-outline-success"><i
                                            class="fa fa-light fa-trash lead">&nbsp;&nbsp;</i>Remove</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="cart_prod border shadow" >
                        <div class="d-flex">
                            <div id="prod_img">
                                <img src="./img/crocin.jpg" alt="crocine">

                            </div>
                            <div id="prod_discription pt-3">
                                <a href="product_details">
                                    <h5>Crocine</h5>
                                    <span>this prioasjkndsadknaskdn</span>
                                </a>
                                <h4 style="background: #8ad129;">₹140</h4>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="cart_quantity_button">
                                <button class="btn btn-outline-success" style="border-radius: 50%;"> + </button>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1"
                                    autocomplete="off" size="2">
                                <button class="btn btn-outline-success" style="border-radius: 50%;"> - </button>
                            </div>
                            <div class="mx-5">
                                <a href=""><button class="btn btn-outline-success"><i
                                            class="fa fa-light fa-trash lead">&nbsp;&nbsp;</i>Remove</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 m-2 ">
                    <div id="order_total"
                        style="text-align: center; border:solid rgb(187, 187, 187); border-radius: 12px;">
                        <span>Price Details</span>
                        <div class="d-flex justify-content-between">
                            <div class="text-start px-xl-5">
                                <span>MRP Price</span><br>
                                <span>Discount</span><br>
                                <span>Total</span> <br>
                            </div>
                            <div class="text-end px-xl-5">
                                <span class="">₹1000</span><br>
                                <span class="">-₹500</span><br>
                                <span class="">₹500</span> <br>
                            </div>
                        </div>
                        <a href="{% url 'checkout' %}"><div class="text-center d-grid">
                             <button type="button"  class="btn btn-outline-success btn-block">Place the order</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}