{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<!-- Body part of Cart -->
<div id="cart" class="container-fluid bg-light text-dark">
    <div class="row">
        <div class="poss">
            <ol class="pos">
                <li><a href="index.html">Home</a></li>
                <li class="active">/ Cart</li>
            </ol>
        </div>
        <div id="order_summary" class="p-5">
            <h2>Order Summary</h2>
            <div class="container-fluid d-flex" style="padding: 0%; margin: 0%;">
                <div class="col-lg-8 m-2">
                    {% for item in items %}
                    <div class="cart_prod border shadow" >
                        <div class="d-flex">
                            <div id="prod_img">
                                <img src="{{item.product.imageURL}}" alt="crocine">

                            </div>
                            <div id="prod_discription pt-3">
                                <a href="product_details">
                                    <h5>{{item.product.name}}</h5>
                                    <span>{{item.product.descrip}}</span>
                                </a>
                                <h4 style="background: #8ad129;">₹ {{item.product.price}}</h4>
                                <div id="quantity" class="align-center">
                                    <input type="number" name="quantity" value="{{item.quantity}}">
    
                                </div>
                                <div id="totalitem">
                                        <h4>₹{{item.get_total}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4 m-2 ">
                    <div id="order_total"
                        style="text-align: center; border:solid rgb(187, 187, 187); border-radius: 12px;">
                        <span>Price Details</span>
                        <div class="d-flex justify-content-between">
                            <div class="text-start px-xl-5">
                                <span>Items:</span><br>
                                <span>Discount:</span><br>
                                <span>Total:</span> <br>
                            </div>
                            <div class="text-end px-xl-5">
                                <span class="">{{order.get_cart_items}}</span><br>
                                <span class="">-₹0</span><br>
                                <span class="">₹{{order.get_cart_total}}</span> <br>
                            </div>
                        </div>
                        <a href="{% url 'checkout' %}"><div class="text-center d-grid">
                             <button type="button"  class="btn btn-outline-success btn-block">Place the order</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}