{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<!-- main body -->
<div id="crousel" class="p-3">
  <!-- <div class="container"> -->
  <div class="row" class="col-lg-12" style="margin-top: 220px;">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static '/img/med offer.jpg' %}" alt="Los Angeles" class="d-block" style="width:100%">
          <div class="carousel-caption">
            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static '/img/medss.jpg' %}" alt="Chicago" class="d-block" style="width:100%">
          <div class="carousel-caption">
            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static './img/medsofer.png' %}" alt="New York" class="d-block" style="width:100%">
          <div class="carousel-caption">
            <!-- <h3>New York</h3>
            <p>We love the Big Apple!</p>
          </div> -->
            <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
          </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

    </div>
  </div>
</div>
</div>
<!-- carousel complete -->

<!-- featured -->
<div id="featured">
  <div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border mb-4" style="padding: 30px">
          <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border mb-4" style="padding: 30px">
          <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
          <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border mb-4" style="padding: 30px">
          <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">Multi Brand Products</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border mb-4" style="padding: 30px">
          <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Featured End -->

<!-- shop by category -->
<div id="shop_category">
  <div class="col-lg-12">
    <div class="Shop_By_Category">
      <h2 class="title text-center">Shop By Category</h2>
    </div>
    <div class="Category_items container-fluid pt-3  d-flex">
      <div class="item"><a href="{% url 'shop' %}#Health"><span id="category_img" class="text-dark"><img src="{% static '/img/Dettol.jpg' %}"
              alt="ayurveda"><br>Home product</span></a>
      </div>
      <div class="item"><a href="{% url 'shop' %}#Skin" class=""><span id="category_img" class="text-dark"><img
              src="{% static '/img/healthyjuices.jpg' %}" alt="ayurveda"><br>Health</span></a>
      </div>
      <div class="item"><a href="{% url 'shop' %}#Baby" class=""><span id="category_img" class="text-dark"><img
              src=" {% static '/img/hima.jpg' %}" alt="ayurveda"><br>Skin
            Care</span></a>
      </div>
      <div class="item"><a href="{% url 'shop' %}#H&F" class=""><span id="category_img" class="text-dark"><img
              src="{% static '/img/babyproduct.jpg' %}" alt="ayurveda"><br>Baby Care</span></a>
      </div>
      <div class="item"><a href="{% url 'shop' %}#Diabets" class=""><span id="category_img" class="text-dark"><img
              src="{% static '/img/suppliments.jpg' %}" alt="ayurveda"><br>Health and Fitness</span></a>
      </div>
      <div class="item"><a href="{% url 'shop' %}#Eldely" class=""><span id="category_img" class="text-dark"><img
              src="{% static '/img/diabet.jpg' %}" alt="ayurveda"><br>Ayurveda</span></a>
      </div>
      <div class="item"><a href="{% url 'shop' %}#Health" class=""><span id="category_img" class="text-dark"><img
              src="{% static '/img/revital.jpg' %}" alt="ayurveda"><br>Eldely Care</span></a>
      </div>
    </div>
  </div>
</div>
<!-- featured end -->


<!-- best selling -->
<div id="best_seller" class="m-5">
  <div class="col-lg-12 p-2 d-flex justify-content-center">
      <div class="container all_products text-center">
        <h2> Best Seller</h2>
        <div class="row products d-flex ">
          {% for product in products %}
              <div class="col-4 mt-3 single_product border shadow ">
                <img src="{{product.imageURL}}" alt="crocine">
                <a href="product_details">
                  <h5>{{product.name}}</h5>
                </a>
                <h4 style="background: #8ad129;">₹ {{product.price}}</h4>
                <div class="choose">
                  <a href=""><i class="fa fa-plus-square">&nbsp;</i>Add to wishlist</a>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart">&nbsp;</i>Add to
                    cart</a>
                </div>
              </div>
              {% endfor %}
        </div>
      </div>
  </div>
</div>

{% endblock %}